

.control-bar {
 display:flex;
 justify-content: space-between;
 padding:10px;
background-color: rgba(13, 12, 12, 0.978);
color:white;
border-bottom: 1px solid rgb(47, 47, 47);
}
.control-bar-left{

  display:flex;
  align-items: center;
  gap:10px;
}

.control-bar-right{
  display:flex;
  align-items: center;
  gap:10px;
}
.control-button{
  padding:5px 10px
}


.input-icon-group{
  display:flex;
  align-items: center;

  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to right, rgb(57, 57, 57), rgb(32, 32, 32)); 
  margin-bottom: 12px;
}

.input-with-icon{
  flex-grow: 1;
  border:none;
  outline: none;
  padding: 5px 10px; 


}

.input-icon{
  cursor: pointer;
}

.link-icon, .download-icon {
  margin: 0 5px; 
}

.icon-background {
  display: inline-flex; 
  border-radius: 50%; 
  padding: 6px; 
  background: linear-gradient(to right, rgb(25, 205, 255), rgb(193, 2, 232)); 
}

.download-icon svg {
  color: white; 
}

.control-button {
  margin-top: 4px; 
  font-size: 14px; 
}

.icon-background, 
.control-bar div svg { 
  font-size: 24px; 
}

.input-icon-group .input-icon,
.input-icon-group .icon-background {
  font-size: 24px;
}


.input-icon-group {
  display: flex;
  align-items: center;
}

input{
  color:white;
  font-weight: bold;
  font-size: 15px;
  background: linear-gradient(to right, rgb(57, 57, 57), rgb(32, 32, 32));
}