
.context-card{
    position: absolute; 
    top: 40%; 
    right: 40%;
    left:25%;
    width: 280px; 
   
    border: 1px solid #343434;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    z-index: 1000; 
    border-radius: 8px;
    box-shadow: rgba(33, 33, 33, 0.2) 0px 2px 8px 0px;
    background-color: rgba(13, 12, 12, 0.978);
    color:white;
}


.context-card div {
    display: flex;
    align-items: center; 
    margin:8px ;
    padding:5px;
  }
  
  .context-card div svg {
    margin-right: 16px; 
  }
  .context-card div p {
   margin:0; 
    flex-grow: 1; 
    text-align: left; 
    
  }